  
  #date_picker {
    width: 300px;
    margin: 0 auto;
    transform: scale(1.2);
    /* position: relative; */
    /* top: 15%; */
  }
  
  #date_picker_input {
    margin-bottom: 8px;
    position: relative;
    width:100%;
    margin: 0 auto;
  }
  
  label {
    display: block;
    color: #8A8F9F;
    font-size: 1.02rem;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .cancelbtndiv{
    float: right;
  }

  .cancelbtn{
    /* background-color:red; */
    /* color:white; */
    border-radius: 5px;
    /* outline:none; */
    border:none;

  }
  .cancelbtn:hover{
    cursor:pointer;
    color:brown;
  }
  #date {
    /* color: var(--dark-date-foreground); */
    font-size: 16px;
    padding: 12px 20px;
  }
  
  #date:hover {
    cursor: pointer;
  }
  
  #date.onFocus:focus {
    outline: none;
  }
  
  #date_picker_input:after {
    content: "▾";
    /* content:  "►"; */
    padding: 12px 15px;
    position: absolute;
    right: 4px;
    top: 42%;
    color: #8A8F9F;
  }
  
  #date_picker_input.showCal:after {
    transform: rotate(180deg);
  }
  
  #date_picker_calendar {
      min-height: fit-content;
      box-shadow: 10px 10px 40px rgba(0,0,0,0.2);
      overflow: hidden;
      padding: 12px;
  }
  
  #date, 
  #date_picker_calendar {
      border-radius: 15px;
      /* background: var(--dark-input); */
      /* border: 2px solid var(--dark-border); */
      width: 100%;
  }
  
  /* 
  * calendar body
  */
  
  #calendar_header {
    width: 100%;
    min-height: 30px;
  /*   background: pink; */
    margin-bottom: 8px;
    /* color: var(--dark-date-foreground); */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cal-btn {
    width: 20px;
    height: 20px;
    background:lightgray;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 6px;
  }
  
  .cal-btn img {
    width: 42%;
    height: 42%;
  }
  
  .cal-btn.back img {
    transform: rotate(90deg);
  }
  
  .cal-btn.front img {
    transform: rotate(-90deg);
  }
  
  #cal_days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    color:black;
  }
  #calendar_main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    color:grey;
  }
  
  #cal_days {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #calendar_main {
    grid-template-rows: repeat(5, min(30px));
  }
  
  .cell_wrapper {
  /*   background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
  }
  
  .current {
    background:lightblue;
    color:black ;
  }
  
  .current:not(.active):hover {
    background:blue;
    color:whitesmoke ;
    border: 2px solid var(--dark-selected);
  }
  
  .cal-btn:hover,
  .current:hover {
    cursor: pointer;
  }

  .backdisable{
    
  }
  

  .active{
    color:whitesmoke;
    background-color: blue;



  }
  .past {
   /* // Draw an SVG top left to bottom right  */
   /* background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 10 10'> <path d='M0 0 L0 10 L10 10' fill='red' /></svg>");
   
   background-repeat:no-repeat;
   background-position:center center;
   background-size: 100% 100%, auto; */
   /* //scale it  */
 

   /* display: block; */
   background: url("../Images/diagonalstrock3.png");
   background-size: 100% 100%;
   /* width: 200px;
   height: 100px; */


 
  }

  .inactive_indicator:after {
  /*   text-decoration: underline; */
    /* content: 'here is the shit'; */
    width: 4rem ;
    height: 3rem;
    background: red;
    border-radius: 50%;
    position: absolute;
    bottom: 3px;
    left: 50%;
  }
  
  .hidden {
    visibility: hidden;
  }