*{
    box-sizing: border-box;
}

 .mainnavlink { 
    color:green;
    list-style: none; 

}

.mainnavlink:hover{
    cursor:pointer;
} 

.navcontainer li{
    list-style: none;
    text-decoration:none;

}
.collapsecontainer ul li{
    list-style: none;
    text-decoration:none;

}
.linebreak{
    width:90%;
    height:2px;
    background-color:black;
}
.bigcollapseheader{
    font-size:medium;
    font-weight:bolder;
}


/* Media Qeuries list */
@media screen and (max-width:450px){

}

@media screen and ((min-width:451px) and (max-width:768px)){

}

@media screen and ((min-width:769px) and (max-width:992px)){

    
    

}

@media screen and ((min-width:993px) and (max-width:1200px)){

}

@media screen and (min-width:1201px){

    .body{
        background-color: blue;
    }
    .navcontainer{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .bigcollapsediv{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navlinks{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .collapsediv{
        display:none;
    }

    .supportlinkscontainer ul li ul{
        display:none;
        background-color:yellow;
    }
   
    /* .mainnavlink:hover + .collapsediv {
        background-color:green;
        display:block;
    } */

    .navlinkscontainer .navlinks li:hover div h2 + div { 
        background-color:red;
        display:block;
        position:relative;
        top:0;
        left:0;

    } 


    .navlinkscontainer .navlinks li:hover div h2 + .bigcollapsediv { 
        background-color:red;
        display:flex;
        justify-content: space-around;
        align-items:center;
        position:relative;
        top:0;
        left:0;

    } 

    

    .account:hover h5 + ul{
        display:block;
        position: relative;
        top:0;
        left:0;
    }
}

